body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.products-container {
    width: 1110px;
    list-style-type: none;
    margin: auto;
    padding: 0 85px 0 85px;
    color: #515076;
    display: flex;
	flex-wrap: wrap; 
    gap: 45px; 
    justify-content: center;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin: 220px 0 110px;
}

.products {
    width: 340px;
    padding: 25px;
    border: 1px ;
    box-sizing: border-box;
    background-color: rgba(81, 80, 118, 0.1);
}

.images {
    margin: 0 0 25px;
}

.headline {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #A5A3B9;
}

.headline_h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #515076;
    margin: 5px 0 5px 0;
}

.compound {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.cmpd-ul {
    padding-left: 25px;
    margin: 0 0 25px 0;
}

.price {
    font-size: 20px;
    line-height: 24px;
}

.price_b {
    font-weight: 700;
}

.price_span {
    font-weight: 400;
    margin: 0 0 0 161px;
    padding-bottom: 25px;
}
