.card {
    color: #515076;
    padding: 25px;
    border: 1px ;
    box-sizing: border-box;
    background-color: rgba(81, 80, 118, 0.1);
    width: 100%;
}

.card__category {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #A5A3B9;
    margin-bottom: 5px;
}

.card__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 5px;
}

.card__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
}

.card__price {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.card__image {
    margin-bottom: 25px;
}

.card__description p:first-child {
    margin-top: 0;
}