.catalog__list {
    width: 1110px;
    margin:  auto;
    padding: 0 85px;
    color: #515076;
    display: flex;
	flex-wrap: wrap; 
    gap: 45px; 
    justify-content: center;
    margin-bottom: 116px;
}

